button#search_button {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding-top: 1%;
  padding-bottom: 0.3%;
  padding-left: 9px;
  padding-right: 9px;
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

#logo{
	width : 6%;
	height : 6%;
	float : left;
}

#searchlogo{
	width : 1%;
	height : 1%;
}

#title{
	display:inline;
}

#searchbar{
	width: 50%;
	padding-top : 1%;
	margin-left : 2%;
	margin-top : 2%;
}
#productdisplay{
	width: 70%;
	height: 100%;
	text-align: center;
	overflow: hidden;
	margin: 0;
}

#outsidebox{
	width:87%;
	margin-top: 4%;
	margin-left: 4%;
	padding: 2%;
	background-color: white;
	overflow:hidden;
	position:absolute;
}
#productdetailwindow{
	width:35%;
	float: left;
	background-color: #E4E3DF;
	padding: 2%;
	text-align: center;
	
}
#detailsinfo{
	text-align:left;
	width:51%;
	background-color: #E4E3DF;
	float:left;
	display: inline;
	margin-left: 4%;
	padding:2%;
}

#detailimg{
	width: 70%;
	height: 70%;
}

#detailsprice{
	float: clear;
}
#filterhead{
	margin-left:7%;
	font-size:20px;
}
#sellersidenav{
	background-color:white;
	height: 40%;
	margin:2%;
	float:left;
	display:inline;
	overflow:hidden;
	text-align:left;
	width: 12%;
}

#buyersidenav{
	background-color:white;
	height: 40%;
	margin:2%;
	float:left;
	display:inline;
	overflow:hidden;
	text-align:left;
	width: 12%;
	padding:1%;
}
#buyersidenav input,#buyersidenav label,#buyersidenav div{
	margin-left:7%;
	margin-top:3%;
}

#sellermenuform{
	width:100%;
	float: right;
	text-align: right;
}

#buyermenuform{
	width:100%;
	float: right;
	text-align: left;
}

#sellermenuform button{
	padding: 1%;
	background-color: orange;
	border: none;
	font-size: 16px;
}

#buyermenuform button{
	padding: 1%;
	background-color: orange;
	border: none;
	font-size: 16px;
}

#loginform{
	display: block;
	margin-left:auto;
	margin-right: auto;
	margin-top:4%;
	background-color:white;
}
#loginform label,#loginform .logininput{
	margin-left:5%;
	margin-top:5%;
	margin-bottom:5%;
}
#loginform #fileToUpload{
	margin-left:5%;
}

#loginform #image{
	margin-left:20%;
	margin-right:auto;
	margin-top:5%;
	margin-bottom:5%;
}
#loginform .forgot{
	font-size: 14px;
	margin-left:5%;
}
#loginform .logininput{
	width:90%;
}
#login{
	width: 90%;
    margin: 5%;
	background-color: blue;
	padding:3%;
	border: 0;
}
#register{
	width:90%;
	text-align:center;
    margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	background-color: orange;
	padding-top: 3%;
	padding-bottom: 3%;
	display:inline-block;
	border: 0;
}
#saveproductdetails{
	display:block;
	border: 0;
	background-color:orange;
	padding:2%;
	margin-left:auto;
}
#pricelabel{
	display:block;
}
#range{
	display:inline;
}
form{
	width: 20%;
	display: inline;
	margin-left:3%;
}
#detailsinfo div{
	margin-top:3%;
}
.productcolumn{
	float: clear;
	width: 100px;
	height: 200px;
	margin: 2%;
	padding: 1%;
	border: 1px solid black;
	float:left;
	display: inline;
	overflow: hidden;
}
.loginbox{
	display: inline;
	float: right;
}
.loginbutton{
	background-color: blue;
	padding: 20%;
	color: white;
	display:contents;
}
.topmenu{
	width:70%;
	background-color: #CECDC9;
	display:inline-block;
	padding: 2%;
	margin-top:2%;
}
.productname,.price{
	text-align: left;
}
.stargroup{
	margin-bottom: 1%;
	overflow:hidden;
}
.starslogo{
	width:10%;
	float: left;
	display: inline;
}

.starslogodetails{
	width:3%;
	float: left;
	display: inline;
}

.sellermenu{
	padding: 10%;
	display:block;
}

.pricerange{
	width: 50px;
}

a:link{
	text-decoration:none;
}


body{
	margin: 0;
	background-color: #E4E3DF;
}
header{
	background-color:orange;
	padding: 2%;
}

h1{
	background-color:#CECDC9;
	padding-left:10%;
	text-align:left;
	padding-top:2%;
	padding-bottom:2%;
	margin:0;
}
