#searchbar-button{
	display:inline;
}

#searchbar{
	width: 50%;
	height:25px;
	font-size:14pt;
	margin-top:20px;
	margin-left:5%;
	border-radius:5px;
	border-style: solid;
	border-color: white;
}
button#search_button {
	background-color: orange; 
	color: white; 
	font-size: 20px; 
	cursor: pointer;
	border-color: white;
	border-radius: 5px;
	border-style: solid;
	outline-color: white;
}
#header-content{
	margin: 0 auto;
	padding: 40px 200px;
	height:110px;
}
#website-logo{
	float: left;
	margin-top: 15px;
}

header{
	background-color:orange;
	width: 100%;
	height: 150px;
	position: sticky;
}

#searchlogo{
	width : 1%;
	height : 1%;
}



#productdisplay{
	width: 80%;
	height: 100%;
	text-align: center;
	overflow: hidden;
	margin: 0;
}
#profiledisplay{
	background-color: white;
    width: 70%;
    height: 100%;
    text-align: left;
    overflow: hidden;
    margin-top: 2%;
    padding: 3%;
}
#profilebox{
	background-color: #E4E3DF;
    margin-top: 3%;
    padding: 3%;
}
#editprofile{
	padding: 1%;
    float: right;
    border: 0;
    background-color: orange;
}
#homeproductdisplay{
	width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    background-color: white;
}

#outsidebox{
	width:87%;
	margin-top: 4%;
	margin-left: 4%;
	padding: 2%;
	background-color: white;
	overflow:hidden;
	position:absolute;
}
#productdetailwindow{
	width:35%;
	float: left;
	background-color: #E4E3DF;
	padding: 2%;
	text-align: center;
	
}
#detailsinfo{
	text-align:left;
	width:51%;
	background-color: #E4E3DF;
	float:left;
	display: inline;
	margin-left: 4%;
	padding:2%;
}

#detailimg{
	width: 70%;
	height: 70%;
}

#filterhead{
	margin-left:7%;
	font-size:20px;
}
#sellersidenav{
	background-color:white;
	height: 160px;
	margin:2%;
	float:left;
	display:inline;
	overflow:hidden;
	text-align:left;
	width: 12%;
	clear: both;
}

#buyersidenav{
	background-color:white;
	height: 40%;
	margin:2%;
	clear: both;
	float:left;
	display:inline;
	overflow:hidden;
	text-align:left;
	width: 12%;
	padding:1%;
}
#buyersidenav input,#buyersidenav label,#buyersidenav div{
	margin-left:7%;
	margin-top:3%;
}

#sellermenuform{
	width:100%;
	float: right;
	text-align: right;
}

#buyermenuform{
	width:100%;
	float: right;
	text-align: left;
}

#sellermenuform button{
	padding: 1%;
	background-color: orange;
	border: none;
	font-size: 16px;
}

#buyermenuform button{
	padding: 1%;
	background-color: orange;
	border: none;
	font-size: 16px;
}

#loginform{
	display: block;
	margin-left:auto;
	margin-right: auto;
	margin-top:4%;
	background-color:white;
}
#loginform label,#loginform .logininput{
	margin-left:5%;
	margin-top:5%;
	margin-bottom:5%;
}
#loginform #fileToUpload{
	margin-left:5%;
}

#loginform #image{
	margin-left:20%;
	margin-right:auto;
	margin-top:5%;
	margin-bottom:5%;
}
#loginform .forgot{
	font-size: 14px;
	margin-left:5%;
}
#loginform .logininput{
	width:90%;
}
#login{
	width: 90%;
    margin: 5%;
	background-color: blue;
	padding:3%;
	border: 0;
}
#register{
	width:90%;
	text-align:center;
    margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
	background-color: orange;
	padding-top: 3%;
	padding-bottom: 3%;
	display:inline-block;
	border: 0;
}
#saveproductdetails{
	display:block;
	border: 0;
	background-color:orange;
	padding:2%;
	margin-left:auto;
}
#pricelabel{
	display:block;
}
#range{
	display:inline;
}
form{
	width: 20%;
	display: inline;
}
#detailsinfo div{
	margin-top:3%;
}
#hometopmenu{
	width: 98%;
    background-color: #CECDC9;
    display: inline-block;
    padding: 1%;
}
#hometopbox{
	height: 400px;
    margin-left: 3%;
    overflow: hidden;
    width: 90%;
}

#homebigpic{
	float: left;
}
.productcolumn{
	width: 100px;
	height: 220px;
	margin: 2%;
	padding: 1%;
	border: 1px solid black;
	float:left;
	display: inline;
	overflow: hidden;
}
.remove{
	background-color: red;
    border: 0;
    margin-top: 5px;
}
.product_column{
	width: 100px;
	height: 220px;
	margin: 2%;
	padding: 1%;
	border: 1px solid black;
	float:left;
	display: none;
	overflow: hidden;
}

.loginbox{
	display: inline;
	float: right;
}

.loginbutton{
	background-color: blue;
	padding: 20%;
	color: white;
	display:contents;
}

.topmenu{
	width:70%;
	background-color: #CECDC9;
	display:inline-block;
	padding: 2%;
	margin-top:2%;
}
.productname,.price{
	text-align: left;
}
.stargroup{
	margin-bottom: 1%;
	overflow:hidden;
}
.starslogo{
	width:10%;
	float: left;
	display: inline;
}

.starslogodetails{
	width:3%;
	float: left;
	display: inline;
}

.sellermenu{
	padding: 10%;
	display:block;
}

.pricerange{
	width: 50px;
}

a:link{
	text-decoration:none;
}

html{
	height:auto;
}
body{
	margin: 0;
	background-color: #E4E3DF;
	height:100%;
}

/* CSS for the Filters */
.product_filters {
	margin-top: 20px;
	margin-left: 15px;
}

.show{
	display: block;
}
.homeproductcolumn{
    width: 100px;
    height: 200px;
    margin: 1% 0 1% 1%;
    padding: 1%;
    border: 1px solid #CECDC9;
    float: left;
    display: inline;
    overflow: hidden;
    background-color: #E4E3DF;
}
.homeboxes{
	display: inline-table;
    border: 3px solid #CECDC9;
    width: 91%;
    margin-left: 3%;
    margin-top: 8%;
    margin-bottom: 10%;
}
.homepic{
	margin-left:2%;
}
button.filter_btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

button.filter_btn:hover {
  background-color: #ddd;
}

button.filter_btn.active {
  background-color: #666;
  color: white;
}
/* CSS for the Filters */

h1{
	background-color:#CECDC9;
	padding-left:10%;
	text-align:left;
	padding-top:2%;
	padding-bottom:2%;
	margin:0;
}

#shopping-cart-button{
	float: right;
	clear: right;
	margin-top:15px;
}
