#logo{
	width : 6%;
	height : 6%;
	float : left;
}

#searchlogo{
	width : 1%;
	height : 1%;
}

#title{
	display:inline;
}

#searchbar{
	width: 50%;
	padding-top : 1%;
	margin-left : 2%;
	margin-top : 2%;
}
#productdisplay{
	float: clear;
	width: 70%;
	height: 100%;
	text-align: left;
	overflow: hidden;
	margin: 0;
}

form{
	width: 20%;
	display: inline;
	margin-left:3%;
}

.productcolumn{
	float: clear;
	width: 10%;
	height: 12%;
	margin: 2%;
	padding: 1%;
	border: 1px solid black;
	float:left;
	display: inline;
	overflow: hidden;
}

.productimg{
	width : 80%;
	height : 80%;
}
.productname,.price{
	text-align: left;
}
.stargroup{
	margin-bottom: 1%;
}
.starslogo{
	width: 10%;
	float: left;
	display: inline;
}


body{
	margin: 0;
}
header{
	background-color:orange;
	padding: 2%;
}
